 :root{
        --primary: rgb(235,92,0);
        --primary-blue:rgb(0,52,147);
        --bg-one:rgb(255, 255, 255);
        --bg-two:rgb(0,52,147);
      
      
      }


body{
    background: white;
}

.bg2{
    background: var(--primary-blue);
}
header{
color: white;
}
.submitbtn{
    background: var(--primary);
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
}
.spanclass{
    color: var(--primary);
    font-size: 4rem !important;
}
.form_1{
    background: rgb(0, 51, 147);
    color: white;
    padding: 2rem;
    border-radius: 10px;
}
ul li{
    font-size: 1.5rem;
}
ul h1{
    color: var(--primary-blue);
}
.contacts{
    font-weight: 600;
}
.clients img{
    
    padding: 2rem;
}
.clients i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
